{{#each blogposts as |blogpost|}}
<div class="card text-center">
  <div class="card-header bg-secondary font-weight-bold">
    {{title}}
  </div>
  <div class="card-body">
    <p class="card-text">{{contents}}</p>
  </div>
  <div class="card-footer text-muted bg-light">
    {{date_created}}
    {{user.username}}
  </div>
</div>
{{/each}}