<div class="card bg-light mb-3" style="max-width: 18rem;">
    <div class="card-header">Signup</div>
    <div class="card-body">
        <form>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="username" class="form-control" id="exampleInputEmail1" placeholder="Enter username">

                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>


<div class="card bg-light mb-3" style="max-width: 18rem;">
    <div class="card-header">Login</div>
    <div class="card-body">
        <form>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="username" class="form-control" id="exampleInputEmail1" placeholder="Enter username">

                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

<script src="./js/login.js"></script>